<div id="myModal" class="modal hide fade">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">X</button>
    <h4>登録</h4>
  </div>
  <%= render 'ajax_form', product: @prodct %>
</div>
