<% if flash[:notice] %>
  <div class="alert alert-block alert-info fade in" id="alertNotice">
    <button class="close" data-dismiss="alert" href="#">&times;</button>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
